aclocal.m4
autom4te.cache
compile
config.guess
config.cache
config.h
config.h.in
config.log
config.status
config.sub
configure
COPYING
.cvsignore
INSTALL
install-sh
Makefile.in
Makefile.tmpl
missing
sha1.c
stamp-h1
*.slo
*.lo
*.la
.libs
