@import url(http://www.picard.us/psldap/DSML_site.css);
@import url(http://www.picard.us/familyStyle.css);

td.menubar input { margin-top: 3px; margin-bottom: 3px; font-family: arial; font-size: 12px; }

pre, input, textarea { margin-top: 0px; margin-bottom: 0px; font-family: arial; font-size: 12px; }

table { border-collapse: collapse; border: none; border-spacing: 3px; }

table.boxed { border-collapse: collapse; border: 3px ridge #006A00; border-spacing: 3px; margin-top: -1px; padding: 0px; }

table.menubar { width: 100%; cellspacing: 0px; border-spacing: 0px; margin-bottom: -3px; padding: 0px; }
table.menubar tr { border-spacing: 0px; margin: 0px; padding: 0px; }

table.std { border-style: hidden; cellspacing: 3px; }

td { border: none; font-size: 12px; }

td.cardColumn { vertical-align: top; border-left-color: green; border-left-width: 3px; border-left-style: ridge; margin-left: 10px; margin-right 10px; margin-top: 3px; margin-bottom: 3px; padding-left: 10px; padding-right: 10px; }

td.data { padding-left: 5px; padding-right: 5px; padding-top: 3px; vertical-align: top; }

td.label { padding-left: 10px; padding-right: 5px; padding-top: 3px; vertical-align: top; text-align: right; }

td.menubar { background: url(/psldap/images/header_bg.gif); }
td.menubar, td.menubar a, td.menubar td { font-size: 14px; font-weight: bold; font-style: italic; color: #F0FF00; }
td.menubar_left { background: url(/psldap/images/left_header.gif); background-repeat: no-repeat; width: 21px; padding-right: 0px; }
td.menubar_left img { width: 21px; }
td.menubar_right { background: url(/psldap/images/right_header.gif); background-repeat: no-repeat; width: 21px; padding-left: 0px; }
td.menubar_right img { width: 21px; }

table#orgTable tr td a {
      text-decoration: none;
}

table#orgTable tr td a:hover {
      text-decoration: none;
      font-weight: bold;
}

table#orgTable tr td a:active {
      text-decoration: none;
      font-weight: bold;
}

table#orgTable table tr[lastnode="true"]>td:first-child {
      background-color: ;
}

table#orgTable td[objectclass] {
      background-repeat: no-repeat;
      padding-left: 18px;
      padding-right: 2px;
}

table#orgTable td[objectclass="organization"] {
      background: url(/psldap/images/organization.gif);
      background-repeat: no-repeat;
      padding-left: 18px;
      padding-right: 2px;
}

table#orgTable td[objectclass="organizationalUnit"] {
      background: url(/psldap/images/orgUnit.gif);
      background-repeat: no-repeat;
      padding-left: 18px;
      padding-right: 2px;
}

table#orgTable td[objectclass="groupOfUniqueNames"] {
      background: url(/psldap/images/group.gif);
      background-repeat: no-repeat;
      padding-left: 18px;
      padding-right: 2px;
}

table#orgTable td[objectclass="organizationalPerson"] {
      background: url(/psldap/images/person.gif);
      background-repeat: no-repeat;
      padding-left: 18px;
      padding-right: 2px;
}

table#directoryTable tr td pre {
      font-family: arial;
}

table#directoryTable tr td {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
      vertical-align: top;
      border-color: green;
      border-width: 3px;
      border-style: ridge;
      font-size: 12px;
}

div#editNavControls {
      text-align: center;
      font-family: arial;
      font-size: 12px;
}
div#editNavControls span {
      display: block;
      width: 29px;
      line-height: 29px;
      margin: 5px;
      height: 29px;
      vertical-align: center;
      cursor: pointer;
}
div#editNavControls span img {
      margin: 1px;
      display: block;
      width: 29px;
      height: 29px;
}
div#editNavControls span a {
      display: block;
      text-decoration: none;
      font-size: 12px;
      shape: 14 14 14;
      color: #000000;
      background-position: 0px 0px;
      background-image: url(/psldap/images/button_all.gif);
      background-repeat: no-repeat;
}
div#editNavControls span a:link {
      color: #000000;
      background-position: 0px 0px;
}
div#editNavControls span a:visited {
      color: #000000;
      background-position: 0px 0px;
}
div#editNavControls span a:hover {
      color: #000000;
      font-weight: bold;
      background-image: url(/psldap/images/button_over.gif);
      background-repeat: no-repeat;
}
div#editNavControls span a:active {
      color: #000000;
      font-weight: bold;
      background-position: 0px -58px;
      background-image: url(/psldap/images/button_all.gif);
      background-repeat: no-repeat;
}

img.cloneNode {
    height: 14;
    width: 14;
    display: none;
    cursor: pointer;
    background-repeat: no-repeat;
}

img.deleteNode {
    height: 14;
    width: 14;
    display: inline;
    cursor: pointer;
    background-repeat: no-repeat;
}

