@import url(DSML_site.css);
@import url(siteStyle.css);

h2 { padding: 0px; margin: 3px; }

tr.controlRow td { vertical-align:top; }

div.personal_info { display:none; }
div.work_info { display:block; }
div.other_info { display:none; }
div.im_info { display:none; }
div.vendor_info { display:none; }
div.resultDiv td { vertical-align:top; }

td.menubar_center input { margin-top: 3px; margin-bottom: 3px; font-family: arial; font-size: 12px; }

label { font-size: 10px; margin-top: 0px; margin-bottom: 0px; }

pre, input, textarea, select { padding-top: 0px; font-family: arial; font-size: 10px; margin-top: 0px; margin-bottom: 2px;  }

table { border-collapse: collapse; border: none; border-spacing: 3px; }

table.boxed, tr.boxed { margin: 0px; padding: 0px; }

table.menubar, tr.menubar { width: 100%; border-spacing: 0px; margin: 0px; padding: 0px; }
table.menubar *, tr.menubar * { border-spacing: 0px; margin: 0px; padding: 0px; }

table.std { border-style: hidden; border-spacing: 3px; }

td { border: none; font-size: 12px; }
td#tree_cell { padding-top: 0px; padding-bottom: 0px; cursor:e-resize; }
td#tree_cell div { cursor:auto; }

td.cardColumn { vertical-align: top; padding-left: 10px; padding-right: 10px; }

td.data { padding-left: 4px; padding-right: 4px; padding-top: 3px; vertical-align:top; white-space:nowrap; }

td.data span input, td.data span { vertical-align: top; }

td.label { padding-left: 4px; padding-right: 4px; padding-top: 3px; vertical-align:top; text-align: right; white-space: nowrap; }

table[name=cardInstance] { table-layout: auto; margin-top: 6px; margin-bottom: 0px; padding: 0px; border-spacing: 0px; }
table[name=cardInstance] tr { width: 100%; margin-top: 0px; margin-bottom: 0px; border: 0px; }
td.menubar_center { white-space: nowrap; }
td.menubar_center * { vertical-align:middle; padding: 1px; }
td.menubar_center img { margin-left: 2px; margin-right: 1px; }
td.menubar_right img, td.menubar_left img { width: 20px; height: 12px; opacity: 0.0; filter: alpha(opacity=0); }

table#orgTable td[objectclass="organization"] {
    background: url(/psldap/images/organization.gif);
}

table#orgTable td[objectclass="organizationalUnit"] {
    background: url(/psldap/images/orgUnit.gif);
}

table#orgTable td[objectclass="groupOfUniqueNames"] {
    background: url(/psldap/images/group.gif);
}

table#orgTable td[objectclass="organizationalPerson"] {
    background: url(/psldap/images/person.gif);
}

table#orgTable td[objectclass] {
    background-repeat: no-repeat;
}

table#directoryTable tr td pre {
    font-family: arial;
}

table#directoryTable tr td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align:top;
    font-size: 12px;
}

div#editNavControls {
    text-align: center;
    font-family: arial;
    font-size: 12px;
}
div#editNavControls span {
    display: block;
    width: 36px;
    line-height: 36px;
    margin: 5px;
    height: 36px;
    cursor: pointer;
}
div#editNavControls span a img {
    margin: 1px;
    padding: 3px;
    display: block;
    width: 29px;
    height: 29px;
    opacity: 0.9; filter: alpha(opacity=90);
}
div#editNavControls span a {
    display: block;
    text-decoration: none;
    font-size: 12px;
}
div#editNavControls span a:hover {
    font-weight: bold;
}
div#editNavControls span a:active {
    font-weight: bold;
}

img.cloneNode {
    height: 14px;
    width: 14px;
    display: none;
    cursor: pointer;
    background-repeat: no-repeat;
}

img.deleteNode {
    height: 14px;
    width: 14px;
    display: inline;
    cursor: pointer;
    background-repeat: no-repeat;
}

form { display: block; }

div.ocEdit { z-index: 5; width: 60%; background-color: white; border: 1px solid silver; margin: 0px; padding: 10px; padding-bottom: 30px; display: none; position: absolute; }
