@import url(DSML_site.css);
@import url(siteStyle.css);

h2 { padding: 0px; margin: 3px; }

tr.controlRow td { vertical-align:top; }

div.personal_info { display:none; }
div.work_info { display:block; }
div.other_info { display:none; }
div.im_info { display:none; }
div.vendor_info { display:none; }
div.resultDiv td { vertical-align:top; }

td.menubar_center input { margin-top: 3px; margin-bottom: 3px; font-family: arial; font-size: 12px; }

label { font-size: 10px; margin-top: 0px; margin-bottom: 0px; }

pre, input, textarea, select { padding-top: -3px; font-family: arial; font-size: 10px; margin-top: -1px; margin-bottom: -1px; }

input[type=text], input[type=password], textarea, select { background-color: beige; border-width: 1px; border-style: solid; border-color: gray; }

input[type=text] { line-height: 12px; height: 13px; padding-bottom: 2px; padding-left: 3px; }

table { border-collapse: collapse; border: none; border-spacing: 3px; }

table.boxed, tr.boxed { border-collapse: collapse; border: 3px solid #008A00; border-spacing: 3px; margin: 0px; padding: 0px; }

table.menubar, tr.menubar { width: 100%; border-spacing: 0px; margin: 0px; padding: 0px; }
table.menubar *, tr.menubar * { border-spacing: 0px; margin: 0px; padding: 0px; }

table.std { border-style: hidden; border-spacing: 3px; }

td { border: none; font-size: 12px; }
td#tree_cell { padding-top: 0; padding-bottom: 0; cursor:e-resize; }
td#tree_cell div { cursor:auto; }

td.cardColumn { vertical-align:top; border-left-color: green; border-left-width: 3px; border-left-style: ridge; margin-left: 10px; margin-right: 10px; margin-top: 3px; margin-bottom: 3px; padding-left: 10px; padding-right: 10px; }

td.data { padding-left: 4px; padding-right: 4px; padding-top: 3px; vertical-align:top; white-space:nowrap; }

td.label { padding-left: 4px; padding-right: 4px; padding-top: 3px; vertical-align:top; text-align: right; white-space: nowrap; }

table[name=cardInstance] { table-layout: auto; margin-top: 6px; }
table[name=cardInstance] tr { width: 100%; }
td.menubar_center { background: url(/psldap/images/header_bg.gif); white-space: nowrap; }
td.menubar_center, td.menubar_center * { font-size: 14px; font-weight: bold; font-style: italic; color: #F0FF00; vertical-align:middle; margin: 3px; }
td.menubar_center img { margin-left: 2px; margin-right: 1px; }
td.menubar_left { background: url(/psldap/images/left_header.gif); background-repeat: no-repeat; width: 20px; }
td.menubar_right { background: url(/psldap/images/right_header.gif); background-repeat: no-repeat; width: 20px; }
td.menubar_right img, td.menubar_left img { width: 20px; height: 12px; opacity: 0.0; filter: alpha(opacity=0); }

table#orgTable tr td a {
      text-decoration: none;
}

table#orgTable tr td a:hover {
      text-decoration: none;
      font-weight: bold;
}

table#orgTable tr td a:active {
      text-decoration: none;
      font-weight: bold;
}

table#orgTable table tr[lastnode="true"]>td:first-child {
      background-color: white;
}

table#orgTable td[objectclass] {
      background-repeat: no-repeat;
      padding-left: 18px;
      padding-right: 2px;
}

table#orgTable td[objectclass="organization"] {
      background: url(/psldap/images/organization.gif);
      background-repeat: no-repeat;
      padding-left: 18px;
      padding-right: 2px;
}

table#orgTable td[objectclass="organizationalUnit"] {
      background: url(/psldap/images/orgUnit.gif);
      background-repeat: no-repeat;
      padding-left: 18px;
      padding-right: 2px;
}

table#orgTable td[objectclass="groupOfUniqueNames"] {
      background: url(/psldap/images/group.gif);
      background-repeat: no-repeat;
      padding-left: 18px;
      padding-right: 2px;
}

table#orgTable td[objectclass="organizationalPerson"] {
      background: url(/psldap/images/person.gif);
      background-repeat: no-repeat;
      padding-left: 18px;
      padding-right: 2px;
}

table#directoryTable tr td pre {
      font-family: arial;
}

table#directoryTable tr td {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
      vertical-align:top;
      border-color: green;
      border-width: 3px;
      border-style: ridge;
      font-size: 12px;
}

div#editNavControls {
      text-align: center;
      font-family: arial;
      font-size: 12px;
}
div#editNavControls span {
      display: block;
      width: 29px;
      line-height: 29px;
      margin: 5px;
      height: 29px;
      cursor: pointer;
}
div#editNavControls span img {
      margin: 1px;
      display: block;
      width: 29px;
      height: 29px;
}
div#editNavControls_bak span a {
      display: block;
      text-decoration: none;
      font-size: 12px;
      shape: 14 14 14;
      color: #000000;
      background-position: 0px 0px;
      background-image: url(/psldap/images/button_all.gif);
      background-repeat: no-repeat;
}
div#editNavControls span a {
      display: block;
      text-decoration: none;
      font-size: 12px;
      color: #000000;
      background-position: 0px 0px;
      background-image: url(/psldap/images/button_all.gif);
      background-repeat: no-repeat;
}
div#editNavControls span a:link {
      color: #000000;
      background-position: 0px 0px;
}
div#editNavControls span a:visited {
      color: #000000;
      background-position: 0px 0px;
}
div#editNavControls span a:hover {
      color: #000000;
      font-weight: bold;
      background-image: url(/psldap/images/button_over.gif);
      background-repeat: no-repeat;
}
div#editNavControls span a:active {
      color: #000000;
      font-weight: bold;
      background-position: 0px -58px;
      background-image: url(/psldap/images/button_all.gif);
      background-repeat: no-repeat;
}

img.cloneNode {
    height: 14px;
    width: 14px;
    display: none;
    cursor: pointer;
    background-repeat: no-repeat;
}

img.deleteNode {
    height: 14px;
    width: 14px;
    display: inline;
    cursor: pointer;
    background-repeat: no-repeat;
}

form { display: block; }

div.ocEdit { z-index: 5; width: 60%; background-color: white; border: 1px solid silver; margin: 0px; padding: 10px; padding-bottom: 30px; display: none; position: absolute; }
